<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cjt2325.cameralibrary">

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera"  android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>

    <application>

        <activity
            android:name="com.cjt2325.CameraActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CameraTheme" />
    </application>
</manifest>
